@model StoreViewModel

@{
    ViewData["Title"] = "Store | Delete";
}
<div class="card mb-3 mx-auto" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/@Model.Image" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger">
                        <a class="text-light text-decoration-none" asp-action="ConfirmDelete" asp-route-id="@Model.Id">Confirm</a>
                    </button>
                    <button type="button" class="btn btn-primary">
                        <a class="text-light text-decoration-none" asp-action="index">Back</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>