@model PaginatedViewModel<StoreViewModel>
}
@{
    ViewData["Title"] = "Stores";
}
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var store in Model.Items)
        {
            <tr>
                <td>@store.Id</td>
                <td>@store.Name</td>
                <td>@store.Image</td>
            </tr>
        }
    </tbody>
</table>
